* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  height: 100%;
}

.navegacao {
  width: 25%;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(55, 159, 158, 1) 0%,
    rgba(54, 100, 121, 1) 100%
  );
}

.img-botoes {
  width: 80%;
}

.navegacao,
figure.navegacao,
#botoes a:link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navegacao img {
  width: 80%;
  border-radius: 100%;
  border: 5px solid #354666;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
}

.img-botoes a:link {
  font-weight: bolder;
  text-decoration: none;
  padding-top: 20px;
}

#pg-atual {
  color: white;
  font-size: 1.7vw;
  text-align: center;
}

.pg-outras {
  color: #354666;
  font-size: 1.7vw;
  text-align: center;
}

.pg-outras:hover {
  color: #366479;
}

#infos {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  margin-top: 22.9vh;
  height: 55%;
  justify-content: space-between;
}

#dados-pessoais {
  width: 70%;
}

h1 {
  font-size: 5vw;
  font-weight: bold;
  color: #354666;
}

.titulo-sobrenome {
  color: #379f9e;
}

#dados-pessoais p,
#telefone,
#descricao,
#redes-sociais {
  font-size: 16px;
  font-weight: bold;
  padding: 4px 0px 4px 0px;
  color: #354666;
}

#dados-pessoais a:link {
  font-weight: bolder;
  text-decoration: none;
  color: #366479;
}

#telefone {
  color: #366479;
}

#descricao {
  width: 85%;
  margin-top: 10px;
}

#redes-sociais {
  width: 70%;
  margin-top: 10px;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  margin-right: 20px;
}

.fa-linkedin,
.fa-github,
.fa-facebook,
.fa-twitter {
  background: #354666;
  color: white;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-facebook:hover,
.fa-twitter:hover {
  background: #366479;
  color: white;
}

.conteudo {
  width: 75%;
  height: 100vh;
}

#conhecimentos {
  width: 70vw;
  height: 75vh;
}

#conhecimentos h1 {
  margin-bottom: 10px;
}

ol#lista-tipo {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li.li-lista {
  margin-left: 5px;
}

.tipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #366479;
  font-weight: bolder;
  width: 22vw;
  height: 22vh;
  margin: 5px 0px 0px 5px;
}

.icones {
  width: 5vw;
  margin: 5px 5px 0px 5px;
}

.imagens-icones {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

figcaption {
  text-align: center;
  font-size: 1.2vw;
}

h2 {
  font-size: 1.5vw;
  font-weight: bold;
  color: #366479;
}

#objetivos {
  width: 90%;
  height: 150%;
  margin-top: 5px;
  padding: 0px 5px 0px 0px;
}

ul#texto {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: #354666;
  text-align: justify;
}

i,
strong {
  color: #366479;
}
